<div class="container" data-controller="toggle">
  <nav class="container-toggle">
    <button class="bt btn-toggle active" data-toggle-target="toggleBtn" data-action="click->toggle#toggle" data-value="dashboard">Dashboard</button>
    <button class="bt btn-toggle" data-toggle-target="toggleBtn"  data-action="click->toggle#toggle" data-value="transactions">Transactions</button>
  </nav>
  <!-- SUMMARY -->
  <div class="card-total-amount bg-white">
    <h1 class="p-large"><%= @total_saved %> € </h1>
    <h3>Amount saved</h3>
  </div>
  <!-- CUES -->
  <div class="container-text" style="gap: 1rem" data-toggle-target="content">
    <h3>Your savecues</h3>
    <div class="card-grid">
      <% @user_cues.each do |user_cue| %>
        <%= link_to user_cue_path(user_cue) do %>
          <%= render partial: "shared/cue_card", locals: {cue: user_cue.cue } %>
        <% end %>
      <% end %>
      <%= link_to cues_path(url_origin: "home") do %>
        <div class="card-cue bg-darker-yellow" style="height: 100%">
          <h1 class="emoji">➕</h1>
          <h3>Add cue</h3>
          <p>Start saving with more savecues!</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container-text hidden" style="gap: 1rem;" data-toggle-target="content">
    <h3>Transactions</h3>
    <div class="container-text container-list">
      <% unless @transactions.empty? %>
        <% @transactions.each do |transaction| %>
          <div class="card-account">
            <h2 class="emoji" style="font-size: 2.25rem">
              <%= get_category(transaction["remittanceInformationUnstructured"])[:emoji] %>
            </h2>
            <div class="container-text">
              <h3><%= get_category(transaction["remittanceInformationUnstructured"])[:title] %></h3>
              <p><%= transaction["bookingDate"] %></p>
            </div>
            <h3>+<%= transaction["amount"] %></h3>
          </div>
        <% end %>
      <% else %>
        <div class="card-account">
          <div class="container-text" style="text-align: center">
            <h3>No savings yet 😢</h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
