<div class="container" data-controller="toggle">
  <nav class="container-toggle">
    <button class="bt btn-toggle active" data-toggle-target="toggleBtn" data-action="click->toggle#toggle" data-value="dashboard">Dashboard</button>
    <button class="bt btn-toggle" data-toggle-target="toggleBtn"  data-action="click->toggle#toggle" data-value="transactions">Transactions</button>
  </nav>
  <!-- SUMMARY -->
  <div class="card-total-amount bg-white">
      <h1 class="p-large"><%= @total_saved %> € </h1>
      <h3>Amount saved</h3>
  </div>

  <div class="show-detail-container" data-controller="toggle">
    <button class="bt btn-toggle" data-toggle-target="toggleBtn" data-action="click->toggle#toggle">Hide detail</button>
    <div id="chart_div" class="piechart card-detail-amount" data-toggle-target="content"></div>
  </div>
  <!-- TEMP TRIGGER BTN -->
  <div class="container-text">
    <p><strong>Access token:</strong> <%= @access_token %></p>
    <p><strong>Customer id:</strong> <%= @customer_id %></p>
    <p><strong>Checking iban:</strong> <%= @checking_iban %></p>
    <p><strong>Savings iban:</strong> <%= @savings_iban %></p>
    <p><strong>Account id:</strong> <%= @account_id %></p>
    <p><strong>Response id:</strong> <%= @response %></p>
    <%# <p><strong>Transactions:</strong> <%= @transactions %>
  </div>
  <%= link_to "Drink coffee", new_transaction_path, class: "bt btn-secondary", method: :new_transaction %>
  <!-- CUES -->
  <div class="container-text" style="gap: 1rem" data-toggle-target="content">
    <h3>Your savecues</h3>
    <div class="card-grid">
      <% @user_cues.each do |user_cue| %>
        <%= link_to user_cue_path(user_cue) do %>
          <div class="card-cue <%= css_for_category(user_cue.cue.category) %>">
            <h1 class="emoji"><%= emoji_for_category(user_cue.cue.category) %></h1>
            <h3><%= user_cue.cue.title %></h3>
            <p><%= user_cue.cue.description %></p>
          </div>
        <% end %>
      <% end %>
      <%= link_to cues_path(url_origin: "home") do %>
        <div class="card-cue bg-darker-yellow" style="height: 100%">
          <h1 class="emoji">+</h1>
          <h3>Add cue</h3>
          <p>Start saving with more savecues!</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container-text hidden" style="gap: 1rem;" data-toggle-target="content">
    <h3>Transactions</h3>
    <div class="container-text">
      <p><strong>Access token:</strong> <%= @access_token %></p>
      <p><strong>Customer id:</strong> <%= @customer_id %></p>
      <p><strong>Checking ibanNr:</strong> <%= @checking_iban %></p>
      <p><strong>Savings ibanNr:</strong> <%= @savings_iban %></p>
      <p><strong>Account id:</strong> <%= @account_id %></p>
      <%# <p><strong>Transactions:</strong> <%= @transactions %>
    </div>
    <div class="container-text container-list">
      <% @transactions.each do |transaction| %>
        <div class="card-account">
          <h2 class="emoji" style="font-size: 2.25rem">☕️</h2>
          <div class="container-text">
            <h3><%= transaction["remittanceInformationUnstructured"] %></h3>
            <p><%= transaction["bookingDate"] %></p>
          </div>
          <h2>+<%= transaction["amount"] %></h2>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <!--install the google chart-->
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Cues');
        data.addColumn('number', 'Amount');
        data.addRows([
          ['BigSpenda', 3],
          ['Rainy Day', 1],
          ['Starbucks', 1],
          ['Burger Day', 1]
        ]);

        // Set chart options
        // css style here
        var options = {title:'See More Detail',
                        width:320,
                        height:200,
                        colors:['#f9d94c','#ff7249','#8257f6','#b8e1df']
                      }

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
