<div class="container">
  <%= link_to :back, class: "btn-back" do %>
  <% end %>
  <h1><%= @first_time_msg %></h1>
  <div class="card-cue-container">
    <% @cues.each do |cue| %>
      <% if cue.title == "Rainy day!"%>
        <%= link_to new_cue_user_cue_path(cue.id), class: "card-cue bg-orange" do %>
          <div class="link-to-text-color">
            <h2 class="emoji">🌧</h2>
            <h3><%= cue.title %></h3>
          </div>
        <% end %>
      <% elsif cue.title == "Burger day!"%>
        <%= link_to new_cue_user_cue_path(cue.id), class: "card-cue bg-barge"  do %>
          <div class="text-center">
            <h1 class="emoji">🍔</h1>
            <h3><%= cue.title %></h3>
          </div>
        <% end %>
      <% elsif cue.title == "Big spenda!"%>
        <%= link_to new_cue_user_cue_path(cue), class: "card-cue bg-purple"  do %>
          <div class="text-center">
            <h1 class="emoji">💸</h1>
            <h3><%= cue.title %></h3>
          </div>
        <% end %>
      <% elsif cue.title == "Starbucks day!"%>
        <%= link_to new_cue_user_cue_path(cue), class: "card-cue bg-darker-yellow"  do %>
          <div class="text-center">
            <h1 class="emoji">☕️</h1>
            <h3><%= cue.title %></h3>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
