<div class="container">
  <div class="inner-container no-margin">
 <%if current_user.accounts.count >= 2%>
   <%= link_to "javascript:history.back()", class: "bt btn-back" do %>
   <% end %>
    <% end %>
    <h1><%= info_for_category(@user_cue.cue.category) %></h1>
    <%= simple_form_for @user_cue do |f| %>
      <div class="form-floating">
        <%= f.number_field :cue_amount,
                      label: 'Amount',
                      required: true,
                      class: "form-control",
                      placeholder: "€" %>
        <%= f.label :cue_amount, "Amount €" %>
      </div>
      <% if @user_cue.cue.category == "rain" || @user_cue.cue.category == "cloudy" %>
        <div data-controller="geocoder" data-geocoder-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          <%= f.hidden_field :latitude, data: {geocoder_target: "latitude"} %>
          <%= f.hidden_field :longitude, data: {geocoder_target: "longitude"} %>
          <%= f.label :location, "Location" %>
          <%= f.input :location,
              label: false,
              input_html: { data: { geocoder_target: "location"}, placeholder: @user_cue.location, class: "d-none" } %>
        </div>
      <% end %>
      <%= f.button :submit, "Next", class: "bt btn-primary" %>
    <% end %>
  </div>
  <%= render 'shared/flashes' %>
</div>
