<div class="container">
  <div class="inner-container">
    <%= link_to :back, class: "bt btn-back" do %>
    <% end %>
    <h1>How much do you save for each coffee break?</h1>
    <%= simple_form_for [@cue, @user_cue] do |f| %>
      <div class="form-floating">
        <%= f.input :cue_amount,
                      label: 'Amount',
                      required: true,
                      class: "form-control",
                      placeholder: "€" %>
      </div>
      <%= f.button :submit, "Next", class: "bt btn-primary" %>
    <% end %>
  </div>
  <%= render 'shared/flashes' %>
</div>
