<div class="container">
  <div class="inner-container">
    <%= link_to :back, class: "bt btn-back" do %>
    <% end %>

    <%= render partial: "shared/cue_card", locals: {cue: @user_cue.cue } %>

    <div class="card-total-amount bg-white">
      <h1 class="p-large"><%= @total_saved %> € </h1>
      <h3 class="text-center">Amount saved from this cue</h3>
    </div>

    <%= link_to "Edit cue", edit_user_cue_path(@user_cue), class: "bt btn-destructive btn-pink w-100" %>
    <%= link_to "Cancel Cue", user_cue_path(@user_cue), method: :delete, data: { confirm: "Really?" }, class: "bt btn-destructive w-100" %>
  </div>
</div>
