<div class="container">
  <div class="inner-container">
    <%= link_to :back, class: "bt btn-back" do %>
    <% end %>
    <div class="card-cue bg-barge">
      <h1 class="emoji"><%= emoji_for_category(@user_cue.cue.category) %></h1>
      <h4><%= @user_cue.cue.title %></h4>
      <p class="p-small"><%= @user_cue.cue.description %></p>
    </div>
    <div class="card-total-amount bg-white">
      <h3>Amount saved from this cue</h3>
      <h1 class="p-large"><%= number_to_currency(@total_saved, unit: '€', precision: 0, format: "%n%u") %></h1>
    </div>
    <div class="card-cue bg-barge">
      <%= link_to "Edit cue", edit_user_cue_path(@user_cue), method: :delete, class: "bt btn-destructive" %>
    </div>
    <div class="card-cue bg-barge">
      <%= link_to "Cancel Cue", user_cue_path(@user_cue), method: :delete, data: { confirm: "Really?" }, class: "bt btn-destructive" %>
    </div>
