<div class="container">
  <div class="inner-container">
    <%= link_to :back, class: "bt btn-back" do %>
    <% end %>
    <h1><%= @page_title %></h1>
    <%= simple_form_for @account, url: @form_path do |f| %>
      <%= f.hidden_field :id unless @account.id.nil? %>
      <%= f.hidden_field :page_title, value: @page_title %>
      <%= f.hidden_field :form_path, value: @form_path %>
      <%= f.hidden_field :account_type, value: @account_type %>
      <div class="form-inputs">
        <div class="form-floating">
          <%= f.text_field :name,
                        required: false,
                        placeholder: "account name",
                        class: "form-control" %>
          <%= f.label :name, "Account name" %>
        </div>
        <div class="form-floating">
          <%= f.text_field :iban,
                        required: false,
                        placeholder: "iban",
                        class: "form-control" %>
          <%= f.label :iban, "IBAN number" %>
        </div>
        <%= f.button :submit, "Save", class: "bt btn-primary" %>
        <% unless @account.id.nil? %>
          <div class="form-actions">
            <%= link_to "Remove account", account_path(@account), method: :delete, class: "bt btn-destructive" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
